
/* Resetting default margin and padding */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
nav {
  background-color: #888;
  color: white;
  padding: 20px;
  overflow: hidden;
}
nav img {
  float: left;
  height: 30px;
  padding: 0 0 0 20px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
.content {
  display: flex;
  flex-grow: 1; /* Fill remaining vertical space */
}
.profile-container {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 20px;
  width: 15%;
  max-width: 25%;
  align-items: center;
}
.profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.profile img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
  object-position: center;
}
.profile-label {
  margin-bottom: 20px;
}
.profile-button {
  background-color: #3333e8;
  color: white;
  border: none;
  width: 115%;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 15px
}
.title {
  text-align: center;
  margin-bottom: 20px;
}
.wrapper {
  flex-direction: horizontal;
  position: relative;
}
.wrapper h2 {
  padding: 20px 0 0 20px;
}
.quiz-box {
  width: calc(25rem - 0.188rem);
  height: calc(18.75rem - 1.875rem);
  background: rgb(144, 154, 193);
  float: left; /*right*/
  margin: 0.938rem;
  box-sizing: border-box;
  border-radius: 0.625rem;
  overflow: hidden;
  position:relative;
}
.button {
  background-color: #435453;
  color: white;
  border: none;
  padding: 30px 100px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
.wrapper .quiz-box .quiz-name {
  position: absolute;
  bottom: 0;
}
.quiz-name input {
  width: 24.4rem;
  margin: auto;
  border-radius: 0.625rem;
  background: transparent;
  height: 3.5rem;
  text-align: center;
}
.wrapper .quiz-box:hover .quiz-name {
  visibility: hidden;
}
.options {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.wrapper .quiz-box .options {
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: 0.05s;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 40%;
  padding: 2.5rem 0 0 0;
}
.wrapper .quiz-box:hover .options {
  visibility: visible;
  opacity: 1;
  text-align: center;
  text-decoration: blue;
  font-weight:bold;
  font-style: oblique;
  display: block;
}
.wrapper .quiz-box .options button {
  margin-top: 0.5rem;
  position: relative;
  display: block;
  width: 8rem;
  height: 3rem;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid;
  padding: 12px;
  outline: none;    
}
.wrapper .quiz-box .new-quiz {
  position: absolute;
  display: block;
  width: 8rem;
  height: 3rem;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid;
  padding: 20px;
  outline: none; 
  margin: 0;
  top: 50%;
  left: 34%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}