* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.form-wrap {
    width: 450px;
    background: transparent;
    color: #fff;
    border:none;
    padding: auto;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
    justify-content: center;
    align-items: center;
    margin:0;
    margin-top:5%;
}
.form-wrap h1 {
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    color:#fff;
}
.input-box input::placeholder {
    color:#fff;
}
.form-wrap .forgot {
    display: flex;
    justify-content:center;
    font-size: 14.5px;
    margin: -15px 0 15px;
    text-align: center;
    color:white;
}
.forgot a {
    color:white;
}
.forgot a:hover {
    text-decoration: underline;
    
} 
.forgot a:visited {
    color: rgb(132, 126, 222);
}
.form-wrap .button {
    width: 100%;
    height: 40px;
    background: #fff;
    border-radius: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #260325;
    cursor: pointer;
    font-size: 16px;
    color: #260325;
    font-weight: 600;
}
.form-wrap .register-login {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-login p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-login p a:hover {
    text-decoration: underline;
}
