* {
    margin: 0;
    padding: 0;
    box-sizing: "border-box";
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color:rgba(236, 242, 245, 0.685);
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}S
body {
	text-align: center;
}
button {
	height: 250px;
	width: 200px;
	font-size: 1.5rem;
	margin: auto;
    display: block;
	padding-right: 5px;
	background-color: white;
	border-radius: 12px;
	box-shadow: 0 0 10px black;
	outline: none;
	font-weight: none;
}
.user-button:hover {
	border: 10px solid cadetblue; 
	box-shadow: 0 0 35px cadetblue;
}
.buttons {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.user-image {
	display: block;
	height: 200px;
	width: 150px;
	margin: auto;
}
.user {
	position: relative;
	width: 15%;
	margin: 0% 5%;
	padding-right: 0px;
}
